<footer class="main-footer">
    <nav>
        <ul class="main-footer__links">
            <li class="main-footer__link">
                <a href="#" style="color:skyblue"><img src="../../assets/Homepage/Export/Categories.png" style="height:100%;margin:0 0.3rem;" alt=""> All Categories</a>
            </li>
            <li class="main-footer__link">
                <a href="#"><img src="../../assets/Homepage/Export/home-interface.png" style="height:100%;margin:0 0.3rem;" alt="">Home</a>
            </li>
            <li class="main-footer__link">
                <a href="#"><img src="../../assets/Homepage/Export/ic-business-center-24px.png" style="height:100%; margin:0 0.3rem;" alt="">Business</a>
            </li>
            <li class="main-footer__link">
                <a href="#"><img src="../../assets/Homepage/Export/ic-camera-24px.png" style="height:100%; margin:0 0.3rem;" alt="">Photography</a>
            </li>
            <li class="main-footer__link">
                <a href="#"><img src="../../assets/Homepage/Export/ic-book-24px.png" style="height:100%; margin:0 0.3rem;" alt="">Lessons</a>
            </li>
            <li class="main-footer__link">
                <a href="#"><img src="../../assets/Homepage/Export/theater.png" style="height:100%; margin:0 0.3rem;" alt="">Entertainment</a>
            </li>
        </ul>
    </nav>
</footer>
