<header class="main-header">
  <div>
      <a routerLink="/home">fiksar</a>
  </div>
  <nav class="nav">
      <ul class="main-header__items">
          <li class="main-header__item">
              <a routerLink="/home">
                  How it works
              </a>
          </li>
          <li class="main-header__item">
              <a routerLink="/home">
                  Find a job
              </a>
          </li>
          <li class="main-header__item">
              <a routerLink="/home">
                  Login
              </a>
          </li>
          <li class="main-header__item">
              <a routerLink="/signup">
                  Signup
              </a>
          </li>
          <li class="main-header__item">
              <a routerLink="/home">
                  ESP
              </a>
          </li>
      </ul>
  </nav>
</header>